@import url('../../../../../vendor/framework7/src/less/ios/_mixins.less');
@import url('../../../../../vendor/framework7/src/less/ios/_colors-vars.less');

// Colors
@themeColor: #4066D7; // (64,102,215)

@import url('../../../../../vendor/framework7/src/less/ios/intro.less');
@import url('../../../../../vendor/framework7/src/less/ios/grid.less');
@import url('../../../../../vendor/framework7/src/less/ios/views.less');
@import url('../../../../../vendor/framework7/src/less/ios/pages.less');
@import url('../../../../../vendor/framework7/src/less/ios/toolbars.less');
@import url('../../../../../vendor/framework7/src/less/ios/toolbars-pages.less');
@import url('../../../../../vendor/framework7/src/less/ios/searchbar.less');
@import url('../../../../../vendor/framework7/src/less/ios/messagebar.less');
@import url('../../../../../vendor/framework7/src/less/ios/icons.less');
//@import url('../../../../../vendor/framework7/src/less/ios/badges.less');
@import url('../../../../../vendor/framework7/src/less/ios/content-block.less');
@import url('../../../../../vendor/framework7/src/less/ios/lists.less');
@import url('../../../../../vendor/framework7/src/less/ios/contacts.less');
@import url('../../../../../vendor/framework7/src/less/ios/forms.less');
//@import url('../../../../../vendor/framework7/src/less/ios/accordion.less');
@import url('../../../../../vendor/framework7/src/less/ios/cards.less');
@import url('../../../../../vendor/framework7/src/less/ios/modals.less');
@import url('../../../../../vendor/framework7/src/less/ios/panels.less');
//@import url('../../../../../vendor/framework7/src/less/ios/lazy-load.less');
@import url('../../../../../vendor/framework7/src/less/ios/tabs.less');
@import url('../../../../../vendor/framework7/src/less/ios/messages.less');
@import url('../../../../../vendor/framework7/src/less/ios/statusbar.less');
@import url('../../../../../vendor/framework7/src/less/ios/preloader.less');
@import url('../../../../../vendor/framework7/src/less/ios/progressbar.less');
//@import url('../../../../../vendor/framework7/src/less/ios/pull-to-refresh.less');
//@import url('../../../../../vendor/framework7/src/less/ios/autocomplete.less');
@import url('../../../../../vendor/framework7/src/less/ios/swiper.less');
//@import url('../../../../../vendor/framework7/src/less/ios/photo-browser.less');
@import url('../../../../../vendor/framework7/src/less/ios/picker.less');
//@import url('../../../../../vendor/framework7/src/less/ios/calendar.less');
@import url('../../../../../vendor/framework7/src/less/ios/notifications.less');
//@import url('../../../../../vendor/framework7/src/less/ios/login-screen.less');
@import url('../../../../../vendor/framework7/src/less/ios/disabled.less');


// Icons
i.icon {
  &.icon-search {
    width: 22px;
    height: 22px;
    .encoded-svg-background('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" fill="@{themeColor}"><path id="XMLID_2_" d="M25,22.3l-3.5-3.5c0.7-1.1,1.1-2.4,1.1-3.8c0-4.1-3.4-7.5-7.5-7.5c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5 c1.4,0,2.7-0.4,3.8-1.1l3.5,3.5c0.7,0.7,1.9,0.7,2.6,0C25.7,24.2,25.7,23.1,25,22.3z M15,20.8c-3.2,0-5.8-2.6-5.8-5.8 c0-3.2,2.6-5.8,5.8-5.8c3.2,0,5.8,2.6,5.8,5.8C20.8,18.2,18.2,20.8,15,20.8z"/></svg>');
  }
}


// Search
.searchbar.document {
  .buttons-row {
    margin-left: 10px;
    margin-right: 5px;
  }
}

// Edit container
.container-edit,
.container-settings {
  &.popup,
  &.popover {
    .list-block {

      ul {
        border-radius: 0 !important;
        background: #fff;
      }

      &:first-child {
        margin-top: 0;

        li:first-child a,
        li:last-child a {
          border-radius: 0 !important;
        }
      }
    }

    &,
    .popover-inner {
      > .content-block {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: #000;
      }
    }

    .popover-view {
      border-radius: 13px;

      > .pages {
        border-radius: 13px;
      }
    }
  }

  .categories {
    width: 100%;

    > .buttons-row {
      width: 100%;
    }
  }
  .popover-inner {
    height: 400px;
  }
}

// List extend
.item-content {
  .item-after {
    &.splitter {
      color: #000;

      label {
        margin: 0 5px;
      }

      .buttons-row {
        min-width: 90px;
        margin-left: 10px;
      }
    }
  }

  &.buttons {
    .item-inner {
      padding-top: 0;
      padding-bottom: 0;
      align-items: stretch;

      > .row {
        width: 100%;
        align-items: stretch;

        .button {
          flex: 1;
          border: none;
          height: inherit;
          border-radius: 0;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.item-link {
  &.no-indicator {
    .item-inner {
      background-image: none;
    }
  }
}

// About
.about {
  .page-content {
    text-align: center;
  }

  .content-block:first-child {
    margin: 15px 0;
  }

  .content-block {
    margin: 0 auto 15px;

    a {
      color: #000;
    }
  }

  h3 {
    font-weight: normal;
    margin: 0;

    &.vendor {
      color: #000;
      font-weight: bold;
      margin-top: 15px;
    }
  }

  p > label {
    margin-right: 5px;
  }
}